body {
  background-color: #FFFFFF; }

.mainLoginBody {
  background-image: url("../images/global.png");
  background-repeat: no-repeat;
  -o-background-size: 100%;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin: 0 auto; }

.container {
  /* login form without news */
  /* login form without news */ }
  .container .img-responsive {
    width: 22%;
    position: absolute;
    top: 5%;
    transform: translateY(-15%);
    left: 50%;
    transform: translateX(-50%); }
  .container .formLoginWithNews, .container .formLogin, .container .panel-default {
    position: absolute;
    top: 20%;
    margin-top: 7%;
    padding: 2em;
    transform: translateY(-40%);
    transform: translateX(-50%);
    background-color: rgba(255, 246, 252, 0.5);
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    border-radius: 25px; }
  .container .formLoginWithNews {
    left: 34%;
    width: 30%; }
  .container .formLogin {
    left: 50%;
    width: 35%; }
  .container .panel-default, .container .controls {
    word-wrap: break-word;
    left: 68%; }
  .container .controls > #control-right {
    float: right;
    right: -50px; }
  .container .controls > #control-left {
    left: -50px; }
  .container .controls {
    height: 80px;
    display: none; }
  .container .controls > #control-right, .container .controls > #control-left {
    position: relative;
    top: 25%; }
  .container #carousel > .panel-default {
    display: none; }
  .container #carousel > .panel-default:nth-child(1) {
    display: block; }

#sign-in-btn {
  margin: 5% 0 0 0;
  float: right; }

@media screen and (max-width: 700px) and (max-width: 1000px) {
  /* small screen*/
  .container .panel-default, .container .formLoginWithNews {
    top: 30%; } }
@media screen and (min-width: 1600px) {
  .container {
    width: 1170px; } }
#mainLoginNews {
  float: left;
  margin-left: 35%;
  height: 277.078px; }

.slick-slide {
  color: black;
  padding: 30px;
  font-size: 16px;
  font-family: "Arial"; }

.slick-arrow::before {
  color: #607D8B !important; }

/*# sourceMappingURL=mainLogin.css.map */
