body {
  color: #000;
  background-color: #f2f2f0;
  overflow-x: hidden;
  width: 100%; }

.container {
  width: 1500px;
  /*
  table {
  border-collapse: collapse;
  !* width: 300px;
  overflow-x: scroll;*!
  display: block;
  }
  thead {
  background-color: #EFEFEF;
  }
  thead, tbody {
  display: block;
  }
  tbody {
  !*overflow-y: scroll;*!
  overflow-x: hidden;
  height: 300px;
  }
  td, th {
  min-width: 100px;
  height: 26px;
  border: dashed 1px lightblue;
  }
  */ }
  .container .button-info {
    width: 194px;
    height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #4d3d3a;
    border: solid 1px #007d3c;
    background-image: -webkit-linear-gradient(bottom, #119b53, #00db69);
    background-image: -moz-linear-gradient(bottom, #119b53, #00db69);
    background-image: -o-linear-gradient(bottom, #119b53, #00db69);
    background-image: -ms-linear-gradient(bottom, #119b53, #00db69);
    background-image: linear-gradient(to top, #119b53, #00db69);
    font-family: "Calibri";
    color: #fff;
    font-size: 16px;
    background-position: 0px 0px; }
  .container .movePadding {
    padding-left: 0px; }
  .container #sInfo {
    float: left;
    text-align: left;
    height: 100%;
    border-left: 1px solid #000;
    padding-left: 25px;
    margin-right: 6px; }
  .container #imgSenderInfoReport {
    width: 50px;
    height: 50px; }
  .container .thL {
    font-weight: 900; }
  .container .thR {
    font-weight: 900;
    border-left: 1px solid #000;
    padding-left: 33px; }
  .container .tdR {
    border-left: 1px solid #000;
    padding-left: 33px; }
  .container .sInfoT {
    float: left;
    height: 200px;
    margin-right: 7px;
    width: 30%;
    text-align: left !important; }
  .container .details_headers {
    font-weight: 900;
    align: left; }
  .container .details_headers2 {
    font-weight: 900;
    margin-bottom: 10px;
    align: left; }
  .container #newStatusPick {
    width: 30%;
    align: left; }
  .container .commentStatusChange {
    min-width: 60% !important;
    align: left; }
  .container .TransactionFile {
    margin-top: 10px;
    align: left; }
  .container .submitStatusChangeReport {
    text-align: left !important;
    margin-left: 40%; }
  .container tr td {
    font-size: 11px;
    font-weight: 700; }
  .container div.dataTables_wrapper {
    margin: 0 auto; }
  .container tbody td.details-control {
    background: url("../js/dataTables/images/details_open.png") no-repeat center center !important;
    cursor: pointer; }
  .container tbody tr.details td.details-control {
    background: url("../js/dataTables/images/details_close_blue.png") no-repeat center center !important; }
  .container table.dataTable tr.odd td:nth-child(-n+9) {
    background-color: #fff3e0; }
  .container table.dataTable tr.odd td:nth-child(n+10):nth-child(-n+13) {
    background-color: #e1f5fe; }
  .container table.dataTable tr.odd td:nth-child(n+14):nth-child(-n+22) {
    background-color: #f1f8e9; }
  .container .relative {
    position: relative; }
  .container .reportHeader .first-date1 {
    margin-top: 50px; }
  .container select {
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f2f2f0;
    -webkit-box-shadow: inset 1px 1px #979797;
    -moz-box-shadow: inset 1px 1px #979797;
    box-shadow: inset 1px 1px #979797;
    border: solid 1px #dbdbdb;
    -moz-appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: 97% 7px;
    /*Position of the background-image*/
    width: 100%;
    /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px;
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
    cursor: pointer; }
  .container input[type="text"], .container .text {
    height: 25px;
    -webkit-border-radius: 1px/2px;
    -moz-border-radius: 1px/2px;
    border-radius: 1px/2px;
    background-color: #f2f2f0;
    -webkit-box-shadow: inset 1px 1px #979797;
    -moz-box-shadow: inset 1px 1px #979797;
    box-shadow: inset 1px 1px #979797;
    border: solid 1px #dbdbdb;
    background-repeat: no-repeat;
    background-position: 97% 5px;
    /*Position of the background-image*/
    text-indent: 6.01px;
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
    width: 100%; }
  .container hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #f77321;
    width: 100%; }
  .container #report_single_page {
    font-size: 12px; }
    .container #report_single_page .btn_submit {
      width: 160px; }
    .container #report_single_page #downloadRegulation div {
      padding-bottom: 8px; }
    .container #report_single_page #downloadRegulation a {
      text-decoration: none;
      color: #6565DF; }
    .container #report_single_page #downloadRegulation a:hover {
      text-decoration: underline; }
  .container a {
    color: #635552; }
  .container .nav-tabs {
    cursor: pointer; }
  .container .agentPayout_priority {
    margin-top: -30px; }
  .container .statusRed {
    background-color: #FF706E;
    color: #000000; }
  .container #reportExcel {
    margin-top: 15px; }
    .container #reportExcel .button-info {
      margin-left: 15px;
      padding: 6px 12px 2px 12px; }
  .container .reportTitle {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .container #report, .container #reportNewWindow {
    margin-top: 30px;
    font-size: 10px;
    /*overflow-y: auto;*/
    overflow: auto;
    height: 500px; }
    .container #report .failedSearch, .container #reportNewWindow .failedSearch {
      color: red;
      font-size: 19px; }
    .container #report .bookkeepingHk, .container #reportNewWindow .bookkeepingHk {
      position: relative;
      width: 100%; }
      .container #report .bookkeepingHk .thead, .container #reportNewWindow .bookkeepingHk .thead {
        width: 100%; }
        .container #report .bookkeepingHk .thead .column, .container #reportNewWindow .bookkeepingHk .thead .column {
          padding-bottom: 10px; }
      .container #report .bookkeepingHk .tbody, .container #reportNewWindow .bookkeepingHk .tbody {
        width: 100%; }
      .container #report .bookkeepingHk .column, .container #reportNewWindow .bookkeepingHk .column {
        width: 150px;
        float: left; }
    .container #report .gbgImg, .container #reportNewWindow .gbgImg {
      width: 10px;
      height: 10px; }
    .container #report .report, .container #reportNewWindow .report {
      font-size: 10px; }
    .container #report .details_headers, .container #reportNewWindow .details_headers {
      font-weight: bold; }
    .container #report .border_left, .container #reportNewWindow .border_left {
      border-left: 1px solid #e0e0e0; }
    .container #report .border_right, .container #reportNewWindow .border_right {
      border-right: 1px solid #e0e0e0; }
    .container #report .table, .container #reportNewWindow .table {
      margin-bottom: 0; }
    .container #report .reportChina td, .container #reportNewWindow .reportChina td {
      max-width: 140px;
      min-width: 140px;
      padding: 8px 0; }
  .container .main-report {
    padding: 10px; }
  .container .details_headers {
    text-align: center; }
  .container #report_filter label, .container #report_single_page label {
    padding: 6px 0px 2px 0px; }
  .container #report_filter select, .container #report_single_page select {
    height: 30px; }
  .container #report_filter .button-info, .container #report_single_page .button-info {
    margin-left: 15px;
    padding: 6px 12px 2px 12px; }
  .container #report_filter label, .container #report_single_page label {
    float: left;
    padding: 6px 12px 2px 12px; }
  .container #report_filter .row, .container #report_single_page .row {
    /*margin-top: 12px;*/
    margin-bottom: 12px;
    /*margin-left: auto;*/ }
  .container #report_filter .selectWidth1, .container #report_single_page .selectWidth1 {
    width: 40px; }
  .container #report_filter .selectWidth2, .container #report_single_page .selectWidth2 {
    width: 55px; }
  .container #report_filter .transactionSearch, .container #report_single_page .transactionSearch {
    font-weight: bold; }
  .container #vip_table td, .container #vip_table th {
    text-align: center; }
  .container #vip_table #reportTable .table_date {
    width: 150px; }
  .container #vip_table #reportTable span {
    width: 40%; }
  .container .report_button_row {
    margin-right: 5px; }
  .container .greenish2 {
    background: #e1f5fe; }
  .container .yellowish2 {
    background: #fff3e0; }
  .container .witheish2 {
    background: #f1f8e9; }
  .container .reportTable {
    /* overflow-x: scroll;*/
    height: 500px;
    margin-top: 30px; }
  .container .no-sign {
    background-image: none; }
  .container .marginLeft15 {
    margin-left: 15px; }
  .container .marginTop10 {
    margin-top: 8px; }
  .container .marginBottom30 {
    margin-bottom: 30px; }

/*# sourceMappingURL=report.css.map */
