$border_color: #e0e0e0;
$smallTD: 85px;
$HDWidth: 200%;

//th, td {
//  white-space: nowrap;
//
//}

body {
  color: #000;
  background-color: #f2f2f0;
  overflow-x: hidden;
  width: 100%;
}

.container {
  width: 1500px;
  .button-info {
    width: 194px;
    height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #4d3d3a;
    border: solid 1px #007d3c;
    background-image: -webkit-linear-gradient(bottom, #119b53, #00db69);
    background-image: -moz-linear-gradient(bottom, #119b53, #00db69);
    background-image: -o-linear-gradient(bottom, #119b53, #00db69);
    background-image: -ms-linear-gradient(bottom, #119b53, #00db69);
    background-image: linear-gradient(to top, #119b53, #00db69);
    //font-family: "Helvetica, sans-serif";
    font-family: "Calibri";
    color: #fff;
    font-size: 16px;
    background-position: 0px 0px;
  }
  .movePadding {
    padding-left: 0px;
  }

  #sInfo {
    float: left;
    text-align: left;
    height: 100%;
    border-left: 1px solid #000;
    padding-left: 25px;
    margin-right: 6px;
  }

  #imgSenderInfoReport {
    width: 50px;
    height: 50px;
  }
  .thL {
    font-weight: 900;
  }
  .thR {
    font-weight: 900;
    border-left: 1px solid #000;
    padding-left: 33px;
  }

  .tdR {
    border-left: 1px solid #000;
    padding-left: 33px;
  }

  .sInfoT {
    float: left;
    height: 200px;
    margin-right: 7px;
    width: 30%;
    text-align: left !important;
  }

  .details_headers {
    font-weight: 900;
    align: left;
  }

  .details_headers2 {
    font-weight: 900;
    margin-bottom: 10px;
    align: left;
  }

  #newStatusPick {
    width: 30%;
    align: left;
  }

  .commentStatusChange {
    min-width: 60% !important;
    align: left;
  }

  .TransactionFile {
    margin-top: 10px;
    align: left;
  }

  .submitStatusChangeReport {
    text-align: left !important;
    margin-left: 40%
  }

  tr td {
    font-size: 11px;
    font-weight: 700;
  }

  div.dataTables_wrapper {
    margin: 0 auto;
  }

  tbody td.details-control {
    background: url('../js/dataTables/images/details_open.png') no-repeat center center !important;
    cursor: pointer;
  }

  tbody tr.details td.details-control {
    background: url('../js/dataTables/images/details_close_blue.png') no-repeat center center !important;
  }

  table.dataTable tr.odd td:nth-child(-n+9) {
    background-color: #fff3e0;
  }

  table.dataTable tr.odd td:nth-child(n+10):nth-child(-n+13) {
    background-color: #e1f5fe;
  }

  table.dataTable tr.odd td:nth-child(n+14):nth-child(-n+22) {
    background-color: #f1f8e9;
  }

  /*
  table {
  border-collapse: collapse;
  !* width: 300px;
  overflow-x: scroll;*!
  display: block;
  }
  thead {
  background-color: #EFEFEF;
  }
  thead, tbody {
  display: block;
  }
  tbody {
  !*overflow-y: scroll;*!
  overflow-x: hidden;
  height: 300px;
  }
  td, th {
  min-width: 100px;
  height: 26px;
  border: dashed 1px lightblue;
  }
  */

  .relative {
    position: relative;
  }

  .reportHeader {
    .first-date1 {
      margin-top: 50px;
    }

  }

  select {
    //        width: 150px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f2f2f0;
    -webkit-box-shadow: inset 1px 1px #979797;
    -moz-box-shadow: inset 1px 1px #979797;
    box-shadow: inset 1px 1px #979797;
    border: solid 1px #dbdbdb;
    -moz-appearance: none;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 97% 7px; /*Position of the background-image*/
    width: 100%; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    cursor: pointer;
  }

  input[type="text"] , .text {
    height: 25px;
    -webkit-border-radius: 1px/2px;
    -moz-border-radius: 1px/2px;
    border-radius: 1px/2px;
    background-color: #f2f2f0;
    -webkit-box-shadow: inset 1px 1px #979797;
    -moz-box-shadow: inset 1px 1px #979797;
    box-shadow: inset 1px 1px #979797;
    border: solid 1px #dbdbdb;
    background-repeat: no-repeat;
    background-position: 97% 5px; /*Position of the background-image*/
    text-indent: 6.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    width: 100%;
  }

  hr.thin {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #f77321;
    width: 100%;
  }

  #report_single_page {

    .btn_submit {
      width: 160px;
    }

    #downloadRegulation {

      div {
        padding-bottom: 8px;
      }

      a {
        text-decoration: none;
        color: #6565DF;

      }
      a:hover {
        text-decoration: underline;
      }

    }

    font-size: 12px;

  }

  a {
    color: #635552;
  }
  .nav-tabs {

    cursor: pointer;
  }

  .agentPayout_priority {
    margin-top: -30px;
  }

  .statusRed {
    background-color: #FF706E;
    color: #000000;
  }

  #reportExcel {
    margin-top: 15px;
    .button-info {
      margin-left: 15px;
      padding: 6px 12px 2px 12px;
    }
  }

  .reportTitle {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

  }

  #report, #reportNewWindow {

    .failedSearch {
      color: red;
      font-size: 19px;
    }

    .bookkeepingHk {
      position: relative;
      width: 100%;
      .thead {
        width: 100%;
        .column {
          padding-bottom: 10px;
        }
      }
      .tbody {
        width: 100%;
      }
      .column {
        width: 150px;
        float: left;

      }

    }

    .gbgImg {
      width: 10px;
      height: 10px;
    }
    .report {
      font-size: 10px;
    }
    margin-top: 30px;
    font-size: 10px;
    /*overflow-y: auto;*/
    overflow: auto;
    height: 500px;

      //---------------
    .details_headers {
      font-weight: bold;
    }

    .border_left {
      border-left: 1px solid $border_color;
    }
    .border_right {
      border-right: 1px solid $border_color;
    }
    .table {
      margin-bottom: 0;
    }

    .reportChina {
      td {
        max-width: 140px;
        min-width: 140px;
        padding: 8px 0;
      }

    }

  }

  .main-report {
    padding: 10px;
  }

  .details_headers {
    text-align: center;
  }

  #report_filter, #report_single_page {

    label {
      padding: 6px 0px 2px 0px;
    }

    select {
      height: 30px;

    }
    .button-info {
      margin-left: 15px;
      padding: 6px 12px 2px 12px;
    }
    label {
      float: left;
      padding: 6px 12px 2px 12px;
    }

    .row {
      /*margin-top: 12px;*/
      margin-bottom: 12px;
      /*margin-left: auto;*/
    }

    .selectWidth1 {
      width: 40px;
    }
    .selectWidth2 {
      width: 55px;
    }

    .transactionSearch {
      font-weight: bold;
    }
  }

  #vip_table {

    td, th {
      text-align: center;
    }

    #reportTable {
      .table_date {
        width: 150px;
      }
      span {
        width: 40%;
      }
    }

  }
  .report_button_row {
    margin-right: 5px;
  }

  .greenish2 {
    background: #e1f5fe;
  }
  .yellowish2 {
    background: #fff3e0;
  }
  .witheish2 {
    background: #f1f8e9;
  }

  .reportTable {
    /* overflow-x: scroll;*/
    height: 500px;
    margin-top: 30px;
  }


  .no-sign {
    background-image: none;
  }

  .marginLeft15 {
    margin-left: 15px;
  }

  .marginLeftMinus15 {

  }

  .marginTopMinus15 {
  }
  .marginTopMinus30 {
  }
  .marginLeftMinus20 {
  }
  .marginLeftMinus10 {
  }
  .marginTop10 {
    margin-top: 8px;
  }

  .statusEasySelect {
  }

  .marginBottom30 {
    margin-bottom: 30px;
  }



}
