.send-money .layer-sendMoney {
  left: 34%; }
.send-money .divider-sendMoney {
  left: 105.5%;
  top: 11.5%;
  bottom: 18.5%; }
.send-money input {
  width: 275px;
  background-image: none; }
.send-money select {
  width: 275px;
  background-position: 259px; }
.send-money .button-info {
  width: 94px;
  height: 27px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #4d3d3a;
  border: solid 1px #007d3c;
  background-image: -webkit-linear-gradient(bottom, #119b53, #00db69);
  background-image: -moz-linear-gradient(bottom, #119b53, #00db69);
  background-image: -o-linear-gradient(bottom, #119b53, #00db69);
  background-image: -ms-linear-gradient(bottom, #119b53, #00db69);
  background-image: linear-gradient(to top, #119b53, #00db69);
  font-family: "Helvetica, sans-serif";
  color: #fff;
  font-size: 16px;
  background-repeat: repeat; }
.send-money #id_sender_birth_day, .send-money #id_sender_phone_number_0, .send-money #id_contact_sIDdate_day {
  width: 60px;
  background-position: 42px; }
.send-money #id_sender_birth_month, .send-money #id_sender_phone_number_1, .send-money #id_contact_sIDdate_month {
  width: 70px;
  background-position: 50px; }
.send-money #id_sender_birth_year, .send-money #id_contact_sIDdate_year {
  width: 136px;
  background-position: 120px; }
.send-money #id_sender_phone_number_2 {
  width: 121px; }
.send-money #id_sender_phone_number_2_for_hk {
  width: 203px; }

/*# sourceMappingURL=send_money.css.map */
